/*==================================
=            Used Fonts            =
==================================*/

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

/*-----  End of Used Fonts  ------*/

.wrapper {
    /*background-color: red ;*/
}

.hidden { visibility: hidden ; }

#header, footer {
    background-color: #1F1E1E ; 
    border: 1px solid #333 ;
    border-radius: 8px ;
    color: #fff ;
    font-size: 1.1em ;
    font-family: 'Arvo', Arial, Helvetica, sans-serif ;
}

footer { padding: 0.5%;}

#header a, #header a:visited { text-decoration: none; color: #fff;}

/************************************/
/*              HEADER              */
/************************************/


.nav-menu ul { list-style-type: none ; margin-top: 6% ;} /* No symbol on lists and 6% down from the top */
.nav-menu ul li { display: inline; margin-left: 3%; } /* Horizontal list, items separated by 5% on the left */
.nav-menu ul li a { text-decoration: none ; } /* No decoration on the items links */

.logout { margin-left: 10% ; margin-top: 2.7% ; }




