/*==================================
=            Used Fonts            =
==================================*/

@import url(http://fonts.googleapis.com/css?family=ABeeZee);
@import url(http://fonts.googleapis.com/css?family=Andika);

/*-----  End of Used Fonts  ------*/

body {
	font-size: 1em ;
	font-family: 'ABeeZee', Helvetica, arial, sans-serif ;
}

h1, h2, h3 {
	font-size: 2em ;
	font-family: 'Andika', Helvetica, arial, sans-serif ;
}