
{#
	favicon, unsemantic.css, reset.css and text.css are common to all templates 
	The hidden css style (creating blank spaces) is used anywhere too 
	The header/footer are defined here because they go on all the backend templates 
#}

<!DOCTYPE HTML>
<html lang="en">
<head>
    {% block head %}
        <meta charset='utf-8'>
        <title> {% block title %} {% endblock %} - Flask App </title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/text.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/unsemantic.css') }}">
        <style type="text/css" media="all">
        	.hidden { visibility: hidden ; }
        </style>
    {% endblock %}
</head>

<body>
	<!-- Div with hidden class means are blank spaces. Their size is defined by the "grid-SIZE" value -->

    <div class="wrapper grid-container">
    	{% block header %}
			<div class="grid-100 hidden"> <span> hidden </span> </div>

			<header id="header" class="grid-100">
				<!-- The backend title (could be an image too) -->
				<div class="grid-20">
					<h1> <a href="{{ url_for('admin')}}"> Backend </a> </h1>
				</div>

				<!-- Centered navigation menu -->
				<div class="grid-5 hidden"> <span> hidden </span> </div>

				<!--  Navigation menu with items separated by pipes  -->
			    <nav class="nav-menu grid-45">
				    <ul>
				        <li><a href="{{ url_for('backend_blog') }}"> Blog </a></li> <!-- Blog managing -->
				        <li> <span> | </span> </li>
				    	<li><a href="{{ url_for('backend_projects') }}"> Projects </a></li> <!-- Projects managing  -->
				    	<li> <span> | </span> </li>
				     	<li><a href="{{ url_for('backend_events') }}"> Events </a></li> <!-- Events management -->
				     	<li> <span> | </span> </li>
				     	<li><a href="{{ url_for('backend_users') }}"> Staff </a></li> <!-- Users management -->
				     	<li> <span> | </span> </li>
				 		<li><a href="{{ url_for('backend_stats') }}"> Stats </a></li> <!-- Statistics about lot of stuffs  -->
				    </ul>
				</nav>

				<!-- Current user and logout link -->
				<div class="grid-20 logout">
					<span> 
						Hello, 
						<span style='text-decoration: underline;'> {{ current_user.firstname }} </span> 
						&nbsp; | &nbsp; 
						<a href="{{ url_for('logout')}}"> Logout </a> 
					</span> 
				</div>				
			</header>
		{% endblock %}

		<div class="grid-100 hidden"> <span> hidden </span> </div>

		{% block content %}
			{#
				All the content of the page goes here :D
			#}
		{% endblock %}

		<div class="grid-100 hidden"> <span> hidden </span> </div>

		{% block footer %}
			<footer>
				<!-- Centered copyright :) -->
				<div class="grid-30 hidden"> <span> hidden </span> </div>
				<span> Copyright 2012. Philippe NDIAYE. All Rights Reserved.</span>
			</footer>
		{% endblock %}
	</div>
   
</body>