<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title> {% block title %} {% endblock title %} - Flask App </title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/text.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/unsemantic.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/frontend/style.css') }}">
</head>
<body>
	<!-- Div with hidden class means are blank spaces. Their size is defined by the "grid-SIZE" value -->

    <div class="wrapper grid-container">
    	{% block header %}
			
		{% endblock header %}
		

		{% block content %}
			{#
				All the content of the page goes here :D
			#}
		{% endblock content %}		

		{% block footer %}
			
		{% endblock footer %}
	</div>

</body>
</html>