{% extends "frontend_layout.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
	{% for post in posts %}
        <h2> <a href="{{ url_for('single_post', permalink=post.permalink) }}"> {{ post.title }} </a> </h2> <br>
        <span> <b> Written by <a href="{{ url_for('author', author_id=post.author.id) }}"> {{ post.author.firstname }} {{ post.author.lastname }} </a> | {{ post.created.strftime('%B %d, %Y') }} </b> </span>
        <p> {{ post.content }} </p>
    {% endfor %}
{% endblock content %}	
        
