{% extends "frontend_layout.html" %}

{% block title %} {{ post.title }} {% endblock title%}

{% block content %}
	<h2> <a href="{{ url_for('single_post', permalink=post.permalink) }}"> {{ post.title }} </a> </h2> <br>
	<span> <b> Written by {{ post.author.firstname }} {{ post.author.lastname }} | {{ post.created.strftime('%B %d, %Y') }} </b> </span>

	<p> {{ post.content }} </p>

	{% if post.tags %}
		<ul>			
			<li> {{ post.tags }} </li>			
		</ul>
	{% endif %}
{% endblock content %}	
	<body>
		
	</body>
</html>

